{% load i18n navbar %}
{% permissionrequired portal_administrator %}

  {% url 'myplugin:my_plugin_helloworld' as my_plugin_helloworld %}
  {% url 'myplugin:my_plugin_models' as my_plugin_models %}
  {% url 'myplugin:mam_backend_view' as mam_backend_view %}

  <li>
    <a href="{{ my_plugin_helloworld }}"
    >{% trans 'My Plugin' %}</a>
    <ul class="level-two">
      <li>
        <a href="{{ my_plugin_helloworld }}"
           class="{% if my_plugin_helloworld in request.path %} selected{% endif %}"
        >{% trans 'Hello World' %}</a>
      </li>
      <li>
        <a href="{{ my_plugin_models }}"
           class="{% if my_plugin_models in request.path %} selected{% endif %}"
        >{% trans 'My Plugin Models' %}</a>
      </li>
      <li>
        <a href="{{ mam_backend_view }}"
           class="{% if mam_backend_view in request.path %} selected{% endif %}"
        >{% trans 'MAM Backend' %}</a>
      </li>
      <li>
        <a href="#">{% trans 'Sub menu demo' %}</a>
        <ul class="level-three">
          <li><a href="#">{% trans 'Sub menu item 1' %}</a></li>
          <li><a href="#">{% trans 'Sub menu item 2' %}</a></li>
          <li><a href="#">{% trans 'Sub menu item 3' %}</a></li>
        </ul>
      </li>
    </ul>
  </li>

{% endpermissionrequired %}
