{% load i18n cache navbar %}
{% url my_plugin_helloworld as my_plugin_helloworld %}

{% comment %} Make sure the user has correct role for this operation {% endcomment %}
{% if user|has_role:"_library_write" %}
    <li><a href="#" title="{% trans "My Plugin" %}">{% trans "My Plugin" %}</a>
        <ul class='level-three'>
            <li><a href="{% url my_plugin_helloworld %}" {% current_nav my_plugin_helloworld %} title="Hello World">{% trans "Hello World" %}</a></li>
        </ul>
    </li>
{% endif %}
